<div class="row">
    <div class="col-sm-4">
        <ul id="categoryTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#articles" aria-controls="articles" role="tab" data-toggle="tab">Articles</a></li>
            <li role="presentation"><a href="#movies" aria-controls="movies" role="tab" data-toggle="tab">Movies</a></li>
            <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id=articles>
                <h2>hello articles</h2>
            </div>
            <div role="tabpanel" class="tab-pane fade" id=movies>
                <h2>hello movies</h2>
            </div>
            <div role="tabpanel" class="tab-pane fade" id=photos>
                <h2>hello photos</h2>
            </div>
        </div>
  </div>
  <div class="col-sm-8">
    <div id="content" ></div>
  </div>
</div>  

