<div>
    <h3>Overview</h3>
    <p>
    Web frame created by Golang. It is the same structure as express in node.js. It is for easy to setup Web by Golang. It is a MVC web frame.
    </p>
    <h3>Why should you want this web frame?</h3>
    <ul>
        <li>
        Jquery and Bootstrap are integrated into the go-express. But you can remove them from the go-express if you donot want to use them.
        </li>
        <li>
        Go-express is a light web frame for you to create a site. It have the easy-use and simple and powerful routes(controller).
        </li>
    </ul>
    <h3>What should we do next?</h3>
    <ul>
        <li>
        Model is just a directory, not any file in it. It is not completely now. Go-express will support sql and no-sql database as data source.
        </li>
    </ul>
    </p>
    <h3>Support and contact</h3>
    <p>
    If you have any question and advice, you can cantact me in QQ Group: 536069420.
    </p>
</div>
